
<div class="login-content" ng-app>
  <div class="bg"></div>
	<div>
		<img src="../img/logo_nobg.png" style="position: relative" alt="logo" class="logo-pic">
    <div class="list-wrapper">
      <div class="list">
          <label class="item item-input item-input-first">
            <span class="input-label">Username</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password">
          </label>
      </div>
      <div class="btn-wrapper">
        <button class="button button-block login-btn">
          登录
        </button>
      </div>
    </div>
	</div>
</div>
