<div class="login-content" ng-app>
  <div class="bg"></div>
	<div>
		<img src="../img/logo_nobg.png" style="position: relative" alt="logo" class="logo-pic">
    <div class="list-wrapper">
      <div class="list">
          <label class="item item-input item-input-first">
            <i class="ion-email input-pic"></i>
            <input type="text" placeholder="Username">
            <i class="ion-checkmark-circled input-right"></i>
            <i class="ion-close-circled input-error"></i>
          </label>
          <label class="item item-input">
            <i class="ion-ios-locked input-pic"></i>
            <input type="password" placeholder="Password">
            <i class="ion-checkmark-circled input-right"></i>
            <i class="ion-close-circled input-error"></i>
          </label>
      </div>
      <div class="btn-wrapper">
        <button class="button button-block login-btn">
          登录
        </button>
      </div>
      <div class="col col-center" style="text-align: center;padding: 0px;">
        <button class="button button-clear button-stable small-btn">
          忘记密码
        </button>
        <span class="separator">|</span>
        <button class="button button-clear button-stable small-btn">
          快速注册
        </button>
      </div>
    </div>
	</div>
</div>
