<link rel="stylesheet" href="css/recordDetail.css">

  <div class="record-content">
    <div class="bar bar-header big-bar">
      <a class="button button-icon icon ion-ios-arrow-back" style="color:#fff;" ng-click="goback()"></a>
      <div class="h1 title" id="big-word">{{detail.showTime}}</div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-area">
        <canvas
          id="line"
          class="chart chart-line"
          chart-options="options"
          chart-data="data"
          chart-labels="labels"
          chart-click="onClick" >
        </canvas>
      </div>
    </div>
  </div>
