<link rel="stylesheet" href="css/record.css">

  <div class="record-content">
    <div class="bar bar-header big-bar">
      <a class="button button-icon icon ion-ios-home" style="color:#fff;" href="#/homePage"></a>
      <div class="h1 title" id="big-word">27 FEB</div>
    </div>
    <div class="data-msg">
      <div class="first-row-data">
        <button class="button button-clear button-stable btn-gap btn-font-size">
          73%
          <label class="small-word">疲劳指数</label>
        </button> 
        <button class="button button-clear button-stable btn-font-size">
          83%
          <label class="small-word">健康指数</label>
        </button> 
      </div>
      <div class="other-row-data">
        <button class="button button-clear button-stable btn-gap btn-font-size">
          Font
          <label class="small-word">落地姿态</label>
        </button> 
        <button class="button button-clear button-stable btn-gap btn-font-size">
          3.1<span class="small-unit">度</span>
          <label class="small-word">落地内旋</label>
        </button> 
        <button class="button button-clear button-stable btn-font-size">
          183<span class="small-unit">G</span>
          <label class="small-word">落地冲量</label>
        </button> 
      </div>
      <div class="other-row-data">
        <button class="button button-clear button-stable btn-gap btn-font-size">
          136<span class="small-unit">cm</span>
          <label class="small-word">步幅</label>
        </button> 
        <button class="button button-clear button-stable btn-gap btn-font-size">
          6<span class="small-unit">mm</span>
          <label class="small-word">xCOM</label>
        </button> 
        <button class="button button-clear button-stable btn-font-size">
          18<span class="small-unit">mm</span>
          <label class="small-word">垂直运动幅度</label>
        </button> 
      </div>
      
    </div>

    <div class="last-row-data">
        <button class="button button-clear button-stable last-btn-gap btn-font-size">
          180<span class="small-unit">/min</span>
          <label class="small-word small-word-color">步频</label>
        </button> 
        <button class="button button-clear button-stable last-btn-gap btn-font-size">
          7.2<span class="small-unit">km/h</span>
          <label class="small-word small-word-color">平均速度</label>
        </button> 
        <button class="button button-clear button-stable last-btn-gap btn-font-size">
          5.3<span class="small-unit">km</span>
          <label class="small-word small-word-color">里程</label>
        </button> 
        <button class="button button-clear button-stable btn-font-size" style="color: #fff!important;">
          200<span class="small-unit">min</span>
          <label class="small-word small-word-color">运动时长</label>
        </button> 
      </div>
  </div>

  
    
    
 



