<link rel="stylesheet" href="css/register.css">
<div class="list bg">
	<label class="item item-input re-label-wrapper">
	    <span class="input-label re-span-wrapper">email</span>
	    <input class="re-input-wrapper" type="text">
	</label>
	<label class="item item-input re-label-wrapper">
	    <span class="input-label re-span-wrapper">email</span>
	    <input class="re-input-wrapper" type="text">
	</label>
	<label class="item item-input re-label-wrapper">
	    <span class="input-label re-span-wrapper">email</span>
	    <input class="re-input-wrapper" type="text">
	</label>

</div>