<link href="css/resetPassword.css" rel="stylesheet">

<div class="bar bar-header reset-big-bar">
  <a class="button button-icon icon ion-ios-arrow-back" style="color:#fff;" ng-click="goback()"></a>
  <div class="h1 title" id="reset-big-word">重设密码</div>
</div>

<div class="reset-wrapper">
  <label class="item item-input">
    <input placeholder="注册邮箱" type="text">
  </label>
  <label class="item item-input get-codes">
    <input type="password" placeholder="输入邮件中的验证码">
    <button class="button button-smal button-balanced get-code-btn" ng-click="getCode()">
      获取验证码
    </button>
  </label>
  <label class="item item-input">
    <input placeholder="重设密码" type="password">
  </label>
  <label class="item item-input">
    <input placeholder="确认密码" type="password">
  </label>
</div>

<div class="send-reset">
  <button class="button button-calm send-reset-btn">
    确定
  </button>
</div>
