<link rel="stylesheet" href="css/running.css">

  <div class="running-content">
    <div class="bar bar-header run-big-bar">
      <a class="button button-icon icon ion-ios-arrow-back" style="color:#fff;" ng-click="goback()"></a>
      <div class="h1 title" id="run-big-word">STEPP</div>
    </div>

    <div class="row-data">
      <div class="button button-clear button-stable btn-gap">
        180<span class="run-small-unit">/min</span>
        <label class="run-small-word">步频</label>
      </div>
      <div class="button button-clear button-stable btn-gap">
       7.2<span class="run-small-unit">km/h</span>
        <label class="run-small-word">平均速度</label>
      </div>
      <div class="button button-clear button-stable btn-gap">
        5.3<span class="run-small-unit">km</span>
        <label class="run-small-word">里程</label>
      </div>
      <div class="button button-clear button-stable btn-gap" style="margin-right:0;">
        200<span class="run-small-unit">min</span>
        <label class="run-small-word">运动时长</label>
      </div>
    </div>
    
    <div class="circle-wrapper">
      <div class="inside-circle">
        <div class="button button-clear button-stable btn-gap circle-btn">
          73%
          <label class="run-small-word">疲劳指数</label>
        </div>
        <div class="button button-clear button-stable btn-gap circle-btn">
          23%
          <label class="run-small-word">Last 5 min</label>
        </div>
      </div>
    </div>

    <div class="alone-word">
      <div class="button button-clear button-stable btn-gap circle-btn">
          83%
          <label class="run-small-word">健康指数</label>
        </div>
    </div>

    <div class="run-status">
      <button class="button button-positive run-status-btn">
        START
      </button>
    </div>

  </div>

  

