<link rel="stylesheet" href="css/userInfo.css">

<div class="bar bar-header header-color">
  <button class="button button-icon icon ion-ios-arrow-left header-color" ng-click="backHome()"></button>
  <div class="h1 title header-color">个人信息</div>
</div>
<div class="pic-space">
  <a href="#/userInfo">
    <div class="user-pic"></div>
    <div class="camera-wrapper">
      <i class="icon ion-camera camera-place "></i>
    </div>
    <p class="user-nickname">{{email}}</p>
  </a>
</div>
<div class="list user-msg-wrapper">
  <a class="item item-icon-right msg-input-wrapper" ng-click="show(x)" ng-repeat="x in userArray" href="#">
    <span class="msg-tip">{{x.name}}</span>
    <div class="icon msg-word">
      <span class="msg-word-span">{{x.value}}</span>
      <i class="ion-ios-arrow-right"></i>
    </div>
  </a>
</div>