div {
  background-color: transparent;
}

.logo-pic {
  width: 100%;
  padding: 24% 33% 11%;
}

.bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url(../img/backPic.jpg);
  background-size: 100% 100%;
}

.input-label {
  color: #aaa !important;
}

.list-wrapper {
  width: 75%;
  margin: 0 auto;
}

.item-input {
  background-color: transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-color: #aaa;
}

.item-input input {
  color: #aaa;
}

.item-input-first {
  border-top-width: 0;
}

.input-pic {
  color: #eee;
  font-size: 20px;
  margin-right: 30px;
  width: 18px;
}
.input-right {
  display: none;
  color: #42D242;
  font-size: 20px;
}
.input-error {
  display: none;
  color: #E23A3A;
  font-size: 20px;
}

.btn-wrapper {
  width: 80%;
  margin: 30px auto 10px;
}

.login-btn {
  border-radius: 45px;
  background-color: #32b16c;
  color: #fff;
  min-height: 50px;
  font-size: 20px;
}

.register-btn {
  border-radius: 45px;
  background-color: #11c1f3;
  color: #fff;
  min-height: 50px;
  font-size: 20px;
}

.login-btn:hover, .register-btn:hover {
  color: #fff;
}

.small-btn {
  font-size: 14px;
  height: 20px;
  line-height: 15px;
  min-height: 20px;
}

.separator {
  color: #b2b2b2;
  position: relative;
  font-size: 12px;
}

.small-btn-wrapper {
  text-align: center;
  padding: 0px;
}