.record-content {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #313234;
}

.chart-area {
  position: fixed;
  padding: 0 5%;
  box-sizing: border-box;
  width: 100%;
  top: 35%;
  height: 30%;
}
