.reset-big-bar {
  background-color: #2CAFD6;
}

#reset-big-word {
  height: 55px;
  line-height: 55px;
  font-size: 20px;
  color: #fff;
}

.reset-wrapper {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  display: block;
  font-size: 17px;
}

.get-codes {
  height: 49px;
}

.get-code-btn {
  display: inline-block;
  font-size: 12px;
  line-height: 30px;
  padding: 0 5px;
  height: 29px;
  min-height: auto !important;
}

.send-reset {
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -100px;
  display: block;
  width: 200px;
}

.send-reset-btn {
  padding: 0px 80px;
  font-size: 19px;
}
