.back-pic {
	width: 100%;
	height: 100%;
	/*z-index: 1;*/
	position: absolute;
	-webkit-filter: blur(5px);
	background-size: 100%;
}
.logo-pic {
	margin: 20% 30% 10%;
}
.login-content {
	/*background-image: url('../img/backPic.jpg');
	background-repeat: no-repeat;
	background-size: cover;*/
	/*position: absolute;
	z-index: 10;
	background-color: rgba(12, 12, 12, 0.4);
	width: 100%;
	height: 100%;*/
	/*background: url(../img/backPic.jpg) no-repeat center center fixed;
	background-size: 100%;*/
	
	width: 375px;
    height: 627px;
}
